In [51]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
Timestamp        26 non-null object
Name             26 non-null object
MailId           26 non-null object
Branch           26 non-null object
Qualification    26 non-null object
RollNumber       26 non-null object
dtypes: object(6)
memory usage: 1.3+ KB

In [4]:
data['Qualification']

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [6]:
data.loc[0:,'Qualification']

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [9]:
data.Qualification=='PG'

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
Name: Qualification, dtype: bool

In [12]:
data[data.Qualification=='PG']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011

In [14]:
data[data.Qualification=='B.TECH']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025

In [17]:
data['MailId'][data.Qualification=='M.sc']

8    bjaganmohan24@gmail.com
Name: MailId, dtype: object

In [19]:
data.Branch

0                         IT
1                        MCA
2                        MCA
3                        MCA
4                        cse
5                        CSE
6                        CSE
7     Information Technology
8               Data Science
9                        MCA
10               DataScience
11          Computer Science
12                        IT
13    Information Technology
14              Data Science
15                       ECE
16    Information Technology
17    Information Technology
18          b com(computers)
19                B.Sc(comp)
20          Computer Science
21              Data Science
22                       I.T
23         civil engineering
24                       I.T
25    Automobile Engineering
Name: Branch, dtype: object

In [27]:
data['RollNumber'][data.Branch=='Data Science']

8     121822502015
14    121822502018
21    121822502016
Name: RollNumber, dtype: object

In [52]:
data.Branch[((data.Branch=='Data Science') | (data.Branch=='DataScience'))]='Data Science'

In [32]:
[3-2,2-2] or [6-5,4-3]

[1, 0]

In [53]:
data[data.Branch=='Data Science']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,Msc,121822502017
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016

In [54]:
data.Qualification[((data.Qualification=='MSc') | (data.Qualification=='M.sc') | 
      (data.Qualification=='M.Sc') | (data.Qualification=='Msc'))]='MSC'

In [55]:
data[data.Qualification=='MSC']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016

In [65]:
data.Qualification.value_counts()

BTECH     13
PG         4
MSC        4
MCA        2
DEGREE     2
BE         1
Name: Qualification, dtype: int64

In [60]:
data.Qualification[(data.Qualification=='B.Tech')|(data.Qualification=='B.TECH')|(data.Qualification=='B.tech')|(data.Qualification=='B-tech')|(data.Qualification=='BTech')]='BTECH'

In [62]:
data.Qualification[(data.Qualification=='Degree')|(data.Qualification=='degree')]='DEGREE'

In [64]:
data.Qualification[data.Qualification=='B.E']='BE'

In [69]:
data.Branch.value_counts()

IT                        8
Data Science              4
MCA                       4
CSE                       2
Computer Science          2
ECE                       1
cse                       1
Automobile Engineering    1
civil engineering         1
b com(computers)          1
B.Sc(comp)                1
Name: Branch, dtype: int64

In [68]:
data.Branch[(data.Branch=='Information Technology')|(data.Branch=='IT')|(data.Branch=='I.T')]='IT'

In [77]:
data2=data.set_index('RollNumber')
data2

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

In [81]:
data2.sort_values('RollNumber')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE

In [109]:
college=pd.read_csv('college.csv')
college

     RollNumber College  Year
0  121822502015   Gitam  2020
1  121822502016   Gitam  2020
2  121822502017   Gitam  2020
3  121822502018   Gitam  2020
4    161FA04180     rsr  2021

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,College,Year
0,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015,Gitam,2020
1,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,rsr,2021

In [103]:
data.set_index('RollNumber')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

In [110]:
pd.merge(data,college,how='inner')

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,College,Year
0,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,rsr,2021
1,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015,Gitam,2020
2,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017,Gitam,2020
3,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018,Gitam,2020
4,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016,Gitam,2020

In [112]:
pd.merge(data,college,how='outer')

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,College,Year
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,161FA07039,NaN,NaN
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019,NaN,NaN
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015,NaN,NaN
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002,NaN,NaN
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH,161fa04079,NaN,NaN
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,rsr,2021.0
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,161FA04106,NaN,NaN
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH,161FA07042,NaN,NaN
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015,Gitam,2020.0
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011,NaN,NaN
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017,Gitam,2020.0
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026,NaN,NaN
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,161FA07050,NaN,NaN
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH,161FA07035,NaN,NaN
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018,Gitam,2020.0
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,14F41A0461,NaN,NaN
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,161FA07002,NaN,NaN
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH,161FA07049,NaN,NaN
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,y167189053,NaN,NaN
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,140082202030,NaN,NaN
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013,NaN,NaN
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016,Gitam,2020.0
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH,161FA07012,NaN,NaN
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,133J1A0150,NaN,NaN
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH,161FA07025,NaN,NaN
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310,NaN,NaN

In [113]:
pd.merge(data,college,how='left')

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,College,Year
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,161FA07039,NaN,NaN
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019,NaN,NaN
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015,NaN,NaN
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002,NaN,NaN
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH,161fa04079,NaN,NaN
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,rsr,2021.0
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,161FA04106,NaN,NaN
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH,161FA07042,NaN,NaN
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015,Gitam,2020.0
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011,NaN,NaN
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017,Gitam,2020.0
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026,NaN,NaN
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,161FA07050,NaN,NaN
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH,161FA07035,NaN,NaN
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018,Gitam,2020.0
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,14F41A0461,NaN,NaN
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,161FA07002,NaN,NaN
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH,161FA07049,NaN,NaN
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,y167189053,NaN,NaN
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,140082202030,NaN,NaN
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013,NaN,NaN
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016,Gitam,2020.0
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH,161FA07012,NaN,NaN
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,133J1A0150,NaN,NaN
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH,161FA07025,NaN,NaN
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310,NaN,NaN

In [115]:
pd.merge(data,college,how='right')

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,College,Year
0,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,rsr,2021
1,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015,Gitam,2020
2,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017,Gitam,2020
3,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018,Gitam,2020
4,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016,Gitam,2020

In [116]:
college = pd.read_csv('college.csv')
college

    Roll Number College  Year
0  121822502015   Gitam  2020
1  121822502016   Gitam  2020
2  121822502017   Gitam  2020
3  121822502018   Gitam  2020
4    161FA04180     rsr  2021

In [122]:
new = pd.merge(data,college,left_on='RollNumber',right_on='Roll Number',how='inner')
new

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,Roll Number,College,Year
0,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,161FA04180,rsr,2021
1,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015,121822502015,Gitam,2020
2,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017,121822502017,Gitam,2020
3,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018,121822502018,Gitam,2020
4,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016,121822502016,Gitam,2020

In [119]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [127]:
new.drop('Roll Number',axis=1,inplace=True)

In [128]:
new

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,College,Year
0,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,rsr,2021
1,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015,Gitam,2020
2,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017,Gitam,2020
3,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018,Gitam,2020
4,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016,Gitam,2020

In [129]:
data.Timestamp

0     30/01/2020 15:00:07
1     30/01/2020 15:00:20
2     30/01/2020 15:00:23
3     30/01/2020 15:00:25
4     30/01/2020 15:00:28
5     30/01/2020 15:00:28
6     30/01/2020 15:00:33
7     30/01/2020 15:00:37
8     30/01/2020 15:00:39
9     30/01/2020 15:00:41
10    30/01/2020 15:00:43
11    30/01/2020 15:00:44
12    30/01/2020 15:00:45
13    30/01/2020 15:01:10
14    30/01/2020 15:01:16
15    30/01/2020 15:01:24
16    30/01/2020 15:01:35
17    30/01/2020 15:01:49
18    30/01/2020 15:01:50
19    30/01/2020 15:01:56
20    30/01/2020 15:02:04
21    30/01/2020 15:02:41
22    30/01/2020 15:02:49
23    30/01/2020 15:02:59
24    30/01/2020 15:04:10
25    30/01/2020 15:07:38
Name: Timestamp, dtype: object

In [132]:
type(data.Timestamp[0])

str

In [133]:
data['Timestammp_dt']=pd.to_datetime(data.Timestamp)
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,Timestammp_dt
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,161FA07039,2020-01-30 15:00:07
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019,2020-01-30 15:00:20
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015,2020-01-30 15:00:23
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002,2020-01-30 15:00:25
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH,161fa04079,2020-01-30 15:00:28
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,2020-01-30 15:00:28
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,161FA04106,2020-01-30 15:00:33
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH,161FA07042,2020-01-30 15:00:37
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015,2020-01-30 15:00:39
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011,2020-01-30 15:00:41
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017,2020-01-30 15:00:43
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026,2020-01-30 15:00:44
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,161FA07050,2020-01-30 15:00:45
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH,161FA07035,2020-01-30 15:01:10
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018,2020-01-30 15:01:16
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,14F41A0461,2020-01-30 15:01:24
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,161FA07002,2020-01-30 15:01:35
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH,161FA07049,2020-01-30 15:01:49
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,y167189053,2020-01-30 15:01:50
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,140082202030,2020-01-30 15:01:56
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013,2020-01-30 15:02:04
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016,2020-01-30 15:02:41
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH,161FA07012,2020-01-30 15:02:49
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,133J1A0150,2020-01-30 15:02:59
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH,161FA07025,2020-01-30 15:04:10
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310,2020-01-30 15:07:38

In [137]:
data['Timestammp_dt'].dtype

dtype('<M8[ns]')

In [138]:
data['Timestammp_dt'].dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
Name: Timestammp_dt, dtype: int64

In [139]:
data['Timestammp_dt'].dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
5     2020
6     2020
7     2020
8     2020
9     2020
10    2020
11    2020
12    2020
13    2020
14    2020
15    2020
16    2020
17    2020
18    2020
19    2020
20    2020
21    2020
22    2020
23    2020
24    2020
25    2020
Name: Timestammp_dt, dtype: int64

In [140]:
data['Timestammp_dt'].dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    2
21    2
22    2
23    2
24    4
25    7
Name: Timestammp_dt, dtype: int64

In [141]:
data['Timestammp_dt'].dt.second

0      7
1     20
2     23
3     25
4     28
5     28
6     33
7     37
8     39
9     41
10    43
11    44
12    45
13    10
14    16
15    24
16    35
17    49
18    50
19    56
20     4
21    41
22    49
23    59
24    10
25    38
Name: Timestammp_dt, dtype: int64

In [142]:
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,Timestammp_dt
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,161FA07039,2020-01-30 15:00:07
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019,2020-01-30 15:00:20
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015,2020-01-30 15:00:23
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002,2020-01-30 15:00:25
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH,161fa04079,2020-01-30 15:00:28
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180,2020-01-30 15:00:28
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,161FA04106,2020-01-30 15:00:33
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH,161FA07042,2020-01-30 15:00:37
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015,2020-01-30 15:00:39
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011,2020-01-30 15:00:41
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,121822502017,2020-01-30 15:00:43
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026,2020-01-30 15:00:44
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,161FA07050,2020-01-30 15:00:45
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH,161FA07035,2020-01-30 15:01:10
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018,2020-01-30 15:01:16
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,14F41A0461,2020-01-30 15:01:24
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,161FA07002,2020-01-30 15:01:35
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH,161FA07049,2020-01-30 15:01:49
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,y167189053,2020-01-30 15:01:50
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,140082202030,2020-01-30 15:01:56
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013,2020-01-30 15:02:04
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016,2020-01-30 15:02:41
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH,161FA07012,2020-01-30 15:02:49
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,133J1A0150,2020-01-30 15:02:59
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH,161FA07025,2020-01-30 15:04:10
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310,2020-01-30 15:07:38

In [143]:
data.describe()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,Timestammp_dt
count,26,26,26,26,26,26,26
unique,25,26,26,11,6,26,25
top,30/01/2020 15:00:28,Md.Ali Asghar Khoyee,p.anandalakshmi@gmail.com,IT,BTECH,161FA04106,2020-01-30 15:00:28
freq,2,1,1,8,13,1,2
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38

In [144]:
data.set_index('RollNumber')

,Timestamp,Name,MailId,Branch,Qualification,Timestammp_dt
RollNumber,,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,2020-01-30 15:00:07
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,2020-01-30 15:00:20
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,2020-01-30 15:00:23
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,2020-01-30 15:00:25
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH,2020-01-30 15:00:28
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,2020-01-30 15:00:28
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,2020-01-30 15:00:33
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH,2020-01-30 15:00:37
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,2020-01-30 15:00:39
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,2020-01-30 15:00:41
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,2020-01-30 15:00:43
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,2020-01-30 15:00:44
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,2020-01-30 15:00:45
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH,2020-01-30 15:01:10
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,2020-01-30 15:01:16
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,2020-01-30 15:01:24
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,2020-01-30 15:01:35
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH,2020-01-30 15:01:49
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,2020-01-30 15:01:50
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,2020-01-30 15:01:56
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,2020-01-30 15:02:04
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,2020-01-30 15:02:41
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH,2020-01-30 15:02:49
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,2020-01-30 15:02:59
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH,2020-01-30 15:04:10
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,2020-01-30 15:07:38

In [145]:
data.describe()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,Timestammp_dt
count,26,26,26,26,26,26,26
unique,25,26,26,11,6,26,25
top,30/01/2020 15:00:28,Md.Ali Asghar Khoyee,p.anandalakshmi@gmail.com,IT,BTECH,161FA04106,2020-01-30 15:00:28
freq,2,1,1,8,13,1,2
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38

In [146]:
data.Branch.value_counts()

IT                        8
Data Science              4
MCA                       4
CSE                       2
Computer Science          2
ECE                       1
cse                       1
Automobile Engineering    1
civil engineering         1
b com(computers)          1
B.Sc(comp)                1
Name: Branch, dtype: int64

In [150]:
data['seconds']=data['Timestammp_dt'].dt.second
data.describe()

         seconds
count  26.000000
mean   32.846154
std    15.371902
min     4.000000
25%    23.250000
50%    36.000000
75%    43.750000
max    59.000000

In [147]:
data.Branch.nunique()

11

In [151]:
data.describe(include='all')

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,Timestammp_dt,seconds
count,26,26,26,26,26,26,26,26.000000
unique,25,26,26,11,6,26,25,NaN
top,30/01/2020 15:00:28,Md.Ali Asghar Khoyee,p.anandalakshmi@gmail.com,IT,BTECH,161FA04106,2020-01-30 15:00:28,NaN
freq,2,1,1,8,13,1,2,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.846154
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.371902
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.250000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.750000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000

In [153]:
market_df = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/market_fact.csv')
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [154]:
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [155]:
market_df.tail(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.05,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [160]:
market_df.shape[0]

8399

In [161]:
market_df.index

RangeIndex(start=0, stop=8399, step=1)

In [164]:
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [178]:
market_df.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [180]:
market_df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [182]:
market_df.describe(include=object)

         Ord_id Prod_id  Ship_id    Cust_id
count      8399    8399     8399       8399
unique     5506      17     7701       1832
top     Ord_542  Prod_6  SHP_564  Cust_1140
freq          6    1225        4         30

In [184]:
market_df.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [190]:
market_df['Ord_id'].isnull().sum()

0

In [191]:
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [197]:
market_df.iloc[3:8:2]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55

In [198]:
market_df.loc[3:8:2]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55

In [199]:
market_df.nunique()

Ord_id                 5506
Prod_id                  17
Ship_id                7701
Cust_id                1832
Sales                  8153
Discount                 16
Order_Quantity           50
Profit                 7807
Shipping_Cost           652
Product_Base_Margin      51
dtype: int64

In [207]:
market_df.Cust_id.nunique()

1832

In [211]:
market_df['Sales'].max()

89061.05

In [212]:
prod_id=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/prod_dimen.csv')
prod_id

   Product_Category            Product_Sub_Category  Prod_id
0   OFFICE SUPPLIES          STORAGE & ORGANIZATION   Prod_1
1   OFFICE SUPPLIES                      APPLIANCES   Prod_2
2   OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES   Prod_3
3        TECHNOLOGY    TELEPHONES AND COMMUNICATION   Prod_4
4         FURNITURE              OFFICE FURNISHINGS   Prod_5
5   OFFICE SUPPLIES                           PAPER   Prod_6
6   OFFICE SUPPLIES                    RUBBER BANDS   Prod_7
7        TECHNOLOGY            COMPUTER PERIPHERALS   Prod_8
8   OFFICE SUPPLIES                       ENVELOPES   Prod_9
9         FURNITURE                       BOOKCASES  Prod_10
10        FURNITURE                          TABLES  Prod_11
11  OFFICE SUPPLIES                          LABELS  Prod_12
12  OFFICE SUPPLIES             PENS & ART SUPPLIES  Prod_13
13       TECHNOLOGY                 COPIERS AND FAX  Prod_14
14        FURNITURE              CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES   SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                 OFFICE MACHINES  Prod_17

In [213]:
prod_id.head(2)

  Product_Category    Product_Sub_Category Prod_id
0  OFFICE SUPPLIES  STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES              APPLIANCES  Prod_2

In [214]:
prod_id.tail(3)

   Product_Category           Product_Sub_Category  Prod_id
14        FURNITURE             CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                OFFICE MACHINES  Prod_17

In [220]:
prod_id.sample()

  Product_Category  Product_Sub_Category Prod_id
7       TECHNOLOGY  COMPUTER PERIPHERALS  Prod_8

In [221]:
prod_id.shape[0]

17

In [223]:
prod_id.shape[1]

3

In [224]:
prod_id.columns

Index(['Product_Category', 'Product_Sub_Category', 'Prod_id'], dtype='object')

In [226]:
prod_id.dtypes

Product_Category        object
Product_Sub_Category    object
Prod_id                 object
dtype: object

In [229]:
comb_data = pd.merge(market_df,prod_id,how='inner')
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
5,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.09,0.09,9,-13.53,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
6,Ord_1854,Prod_16,SHP_2548,Cust_727,182.47,0.05,17,-3.18,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
7,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
8,Ord_4080,Prod_16,SHP_5688,Cust_1388,666.40,0.00,39,2.02,7.42,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
9,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
10,Ord_1579,Prod_16,SHP_2178,Cust_566,139.37,0.04,16,1.72,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
11,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
12,Ord_2471,Prod_16,SHP_3386,Cust_965,90.93,0.05,43,-72.50,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
13,Ord_2873,Prod_16,SHP_3957,Cust_1052,138.55,0.03,16,0.90,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
14,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
15,Ord_956,Prod_16,SHP_1324,Cust_346,503.17,0.01,46,-10.21,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
16,Ord_975,Prod_16,SHP_1345,Cust_346,638.91,0.02,49,77.48,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
17,Ord_2385,Prod_16,SHP_3273,Cust_939,138.84,0.00,15,8.75,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
18,Ord_4307,Prod_16,SHP_6011,Cust_1440,395.37,0.07,37,17.15,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
19,Ord_4328,Prod_16,SHP_6033,Cust_1440,103.03,0.07,49,-82.63,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
20,Ord_4031,Prod_16,SHP_5613,Cust_1391,171.50,0.02,16,-20.41,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
21,Ord_208,Prod_16,SHP_284,Cust_67,327.15,0.04,19,47.30,3.26,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
22,Ord_1154,Prod_16,SHP_1590,Cust_444,483.64,0.10,45,28.39,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
23,Ord_1486,Prod_16,SHP_2052,Cust_513,487.50,0.05,46,-25.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
24,Ord_1968,Prod_16,SHP_2692,Cust_1623,576.58,0.04,41,-81.55,7.59,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
25,Ord_4593,Prod_16,SHP_6388,Cust_1457,413.37,0.04,50,-224.41,7.77,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
26,Ord_279,Prod_16,SHP_378,Cust_113,399.58,0.04,46,-188.53,7.77,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
27,Ord_1793,Prod_16,SHP_2484,Cust_826,482.93,0.06,34,-67.59,7.59,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
28,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
29,Ord_5169,Prod_16,SHP_7226,Cust_1757,210.24,0.00,34,-31.67,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3903,Prod_14,SHP_5417,Cust_1334,3457.99,0.05,1,-11861.46,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8370,Ord_1699,Prod_14,SHP_2353,Cust_586,10567.45,0.10,38,2925.37,11.64,0.50,TECHNOLOGY,COPIERS AND FAX
8371,Ord_2164,Prod_14,SHP_2950,Cust_812,1294.35,0.06,3,-1569.06,24.49,0.40,TECHNOLOGY,COPIERS AND FAX
8372,Ord_3629,Prod_14,SHP_5026,Cust_1260,13934.53,0.10,50,4352.83,11.64,0.50,TECHNOLOGY,COPIERS AND FAX
8373,Ord_4166,Prod_14,SHP_5804,Cust_1401,21956.03,0.10,38,5903.09,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8374,Ord_3073,Prod_14,SHP_4267,Cust_1142,3550.28,0.06,1,-11769.17,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8375,Ord_1791,Prod_14,SHP_2711,Cust_685,21717.36,0.06,32,8249.86,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8376,Ord_3297,Prod_14,SHP_4573,Cust_1230,13571.70,0.00,29,3825.69,24.49,0.52,TECHNOLOGY,COPIERS AND FAX
8377,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8378,Ord_1479,Prod_14,SHP_2042,Cust_522,14240.76,0.06,25,3128.69,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8379,Ord_1943,Prod_14,SHP_2661,Cust_720,6813.93,0.09,16,358.19,49.00,0.38,TECHNOLOGY,COPIERS AND FAX
8380,Ord_778,Prod_14,SHP_1067,Cust_262,7813.70,0.09,40,2154.33,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8381,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8382,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8383,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8384,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8385,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8386,Ord_171,Prod_14,SHP_231,Cust_1194,6350.29,0.02,10,-735.97,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8387,Ord_1390,Prod_14,SHP_1919,Cust_537,6933.45,0.04,15,1200.21,49.00,0.38,TECHNOLOGY,COPIERS AND FAX
8388,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,TECHNOLOGY,COPIERS AND FAX
8389,Ord_1767,Prod_14,SHP_2450,Cust_583,16743.76,0.00,23,6079.63,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8390,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44,TECHNOLOGY,COPIERS AND FAX
8391,Ord_5401,Prod_14,SHP_7543,Cust_1801,10281.79,0.03,20,3272.90,24.49,0.36,TECHNOLOGY,COPIERS AND FAX
8392,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8393,Ord_4106,Prod_14,SHP_5720,Cust_1397,11829.40,0.07,20,3899.72,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,TECHNOLOGY,COPIERS AND FAX

In [230]:
comb_data.shape

(8399, 12)

In [231]:
comb_data.Product_Category.value_counts()

OFFICE SUPPLIES    4610
TECHNOLOGY         2065
FURNITURE          1724
Name: Product_Category, dtype: int64

In [233]:
comb_data.Product_Sub_Category.value_counts()

PAPER                             1225
BINDERS AND BINDER ACCESSORIES     915
TELEPHONES AND COMMUNICATION       883
OFFICE FURNISHINGS                 788
COMPUTER PERIPHERALS               758
PENS & ART SUPPLIES                633
STORAGE & ORGANIZATION             546
APPLIANCES                         434
CHAIRS & CHAIRMATS                 386
TABLES                             361
OFFICE MACHINES                    337
LABELS                             288
ENVELOPES                          246
BOOKCASES                          189
RUBBER BANDS                       179
SCISSORS, RULERS AND TRIMMERS      144
COPIERS AND FAX                     87
Name: Product_Sub_Category, dtype: int64

In [ ]:
ord_df = pd.read_csv('')